common --enable_bzlmod
build --announce_rc
build --incompatible_strict_action_env
build --show_timestamps
test --test_output=errors

# This project intentionally supports Apple Silicon only on macOS.
build:macos_arm64 --platforms=//:macos_arm64_platform
build:linux_x86_64 --platforms=//:linux_x86_64_platform
build:linux_arm64 --platforms=//:linux_arm64_platform
build:windows_x86_64 --platforms=//:windows_x86_64_platform
